<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <base href="https://posterdes.onrender.com/">

    <title>Admin profile page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.css" />    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="font-mono bg-gray-400">


<div class="">
    <div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-white  text-black">
        <div class="fixed w-full flex items-center justify-between h-14 bg-blue-900 text-white z-10">
            <div class="flex items-center justify-start md:justify-center pl-3 w-14 md:w-64 h-14 bg-blue-900 border-none">
                <img class="w-7 h-7 md:w-10 md:h-10 mr-2 rounded-md overflow-hidden"  src="/img/#{admin.image}" />
                <span class="hidden md:block">#{admin.name}</span>
            </div>
            <div class="flex justify-between items-center h-14 bg-blue-900 header-right">

                <ul class="flex items-center">

                    <li>
                        <div class="block w-px h-6 mx-3 bg-gray-400 "></div>
                    </li>
                    <li>
                        <a href="/adminLogout" class="flex items-center mr-4 hover:text-blue-100">
                            <span class="inline-flex mr-1">
                                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
                            </span>Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="fixed flex flex-col top-14 left-0 w-14 hover:w-64 md:w-64 bg-blue-900  h-full text-white transition-all duration-300 border-none z-10 sidebar">
            <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">
                <ul class="flex flex-col py-4 space-y-1">
                    <li class="px-5 hidden md:block">
                        <div class="flex flex-row items-center h-8">
                            <div class="text-sm font-light tracking-wide text-gray-400 uppercase">Main</div>
                        </div>
                    </li>
                    <li>
                        <a href="/admin/adminHome" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800  text-white-600 hover:text-white border-l-4 border-transparent hover:border-blue-500 pr-6">
                            <span class="inline-flex justify-center items-center ml-4">
                                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate">Dashboard</span>
                        </a>
                    </li>
                  
                
                    <li>
                        <a href="/admin/adminProfile" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800  text-white-600 hover:text-white border-l-4 border-transparent hover:border-blue-500  pr-6">
                            <span class="inline-flex justify-center items-center ml-4">
                                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate">Profile</span>
                        </a>
                    </li>

                </ul>
                <p class="mb-14 px-5 py-3 hidden md:block text-center text-xs">Copyright @2023</p>
            </div>
        </div>




    <div class="h-full ml-14 mt-14 mb-10 md:ml-64">
    <p class="text-green-700 text-center font-bold fs-3 mt-3 " id="successMessage">#{updateSuccess}</p>
        <div class="container  mt-5 w-9/12">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-12 mb-4 mb-lg-0 ">
                    <div class="card mb-3  h-1/2" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom bg-slate-300 text-center text-white" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">

                                <img src='/img/#{admin.image}'  alt="Avatar" class="w-40 h-40 rounded  my-5 mx-auto "  />



                                <span class="sr-only">Icon description</span>
                                </button>   
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">

                                    <h6 class="font-medium">Personal Information</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">

                                        <div class="col-6 mb-3">
                                            <h6 class="font-medium" >Name:</h6>
                                            <p class="text-muted ">#{admin.name}</p></a>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6 class="font-medium">Email:</h6>
                                            <p class="text-muted ">#{admin.email}</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6 class="font-medium">Phone:</h6>
                                            <p class="text-muted">#{admin.number}</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6 class="font-medium">Company:</h6>
                                            <p class="text-muted">#{admin.company}</p>
                                        </div>
                                        <div class="col-7 flex float-right mb-3">
                                            <button type="button"  data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="btn mr-2 bg-green-500 hover:bg-green-800 hover:text-white font-bold rounded">Update profile</button>

                                            //- <a href="/admin/newAdminRegistration" type="button"  class="btn border-blue-400 hover:bg-blue-800 font-bold hover:text-white rounded">Add new admin</a>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

<div class="flex  justify-content-center mt-2">
    <div class="relative w-full h-full max-w-md md:h-auto">
        
        <div class="relative bg-gray-200 rounded-lg shadow ">
           
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900">Change admin password</h3>
                  <p class="text-#{type}-600  text-center fw-bolder">#{err}</p>
                <form class="space-y-6" action="/admin/updateAdminPassword" method="post" name="changeAdminPassword" onsubmit = "return changeAdminPasswordForm()">
                    <div>
                        <label for="passswordEmail" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
                        <input type="email" name="passswordEmail" id="passswordEmail" value="#{admin.email}" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="name@company.com" required>
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Your password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" autocomplete="off" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" >
                        <p class="text-xs italic text-red-500 error" id="adminPasswordErr">  </p>

                    </div>
                    <div>
                        <label for="Cpassword" class="block mb-2 text-sm font-medium text-gray-900">Confirm password</label>
                        <input type="password" name="Cpassword" id="Cpassword" placeholder="••••••••" autocomplete="off" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" >
                        <p class="text-xs italic text-red-500 error" id="adminCpasswordErr">  </p>

                    </div>
                   
                    <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 mb-4 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Update admin pasword</button>
                   
                </form>
            </div>
        </div>
    </div>
</div>

<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
<div class="relative w-full h-full max-w-2xl md:h-auto">

    <form action="/admin/update_admin_profile" method="post" class="relative bg-white rounded-lg shadow "  enctype="multipart/form-data" name="updateAdminProfileForm" onsubmit="return validateAdminForm()">

        <div class="flex items-start justify-between p-4 border-b rounded-t">
            <h3 class="text-xl font-semibold text-gray-900"> Update admin profile
            </h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center " data-modal-hide="authentication-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
            </button>
        </div>

        <div class="p-6 space-y-6">
            <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900"> name:</label>
                    <input type="text" name="name" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" value="#{admin.name}" >
                    <p class="text-xs italic text-red-500 error" id="nameErr">  </p>

                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email:</label>
                    <input type="email" name="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" value="#{admin.email}" >
                    <p class="text-xs italic text-red-500 error" id="mailErr">  </p>

                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="number" class="block mb-2 text-sm font-medium text-gray-900">Number:</label>
                    <input type="text" name="number" id="number" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" value="#{admin.number}" >
                    <p class="text-xs italic text-red-500 error" id="numberErr">  </p>

                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="company" class="block mb-2 text-sm font-medium text-gray-900">Company:</label>
                    <input type="text" name="company" id="company"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" value="#{admin.company}" >
                    <p class="text-xs italic text-red-500 error" id="companyErr">  </p>

                </div>

              
                <div class="col-span-6 sm:col-span-3">
                    <label for="admin_image" class="block mb-2 text-sm font-medium text-gray-900">Image:</label>
                    <input type="file" name="admin_image" id="admin_image" value="#{admin.image}" class="block w-full mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none " required="">
                    <input type="hidden" name="old_admin_image" id="old_admin_image" value="#{admin.image}"  required="">
                </div>

                <div class=" items-center p-6 space-x-2 border-t border-gray-200 rounded-b ">
            <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add</button>
        </div>
            </div>
</div>
</div>



    </div>
    </div>



    <script src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>


</body>
</html>





